{% load static %}
{% load blog_filters %}
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{post.title}}</title>
    <meta name="description" content="{{ post.body|striptags|truncatechars:160|safe }}">
    {% if post.indexing == 'index' %}
    <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large">
    {% else %}
    <meta name="robots" content="follow, noindex">
    {% endif %}
    <link rel="canonical" href="{{ canonical_url }}">

    <!-- Open Graph Tags -->
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{post.title}}">
    <meta property="og:description" content="{{ post.body|remove_headings|truncatechars_html:80|safe }}">
    <meta property="og:url" content="{{ canonical_url }}">
    <meta property="og:site_name" content="{{ site_name }}">

    <!-- Twitter Card Tags -->
    <meta name="twitter:card" content="{{ post.feature_image.url }}">
    <meta name="twitter:title" content="{{ post.title }}">
    <meta name="twitter:description" content="{{ post.body|remove_headings|truncatechars_html:80|safe }}">

    <meta name="google-site-verification" content="{{ google_site_verification_code }}">

    <!-- RSS feed -->
    <link rel="alternate" type="application/rss+xml" title="{{ site_name }} » Feed" href="{{ rss_feed_url }}">

    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/vendor.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/plugins/plugins.min.css' %}">
    

</head>
<body>
    <!-- Header Section Start -->
    <div class="header">
        <div class="sticky-header">
            <div class="header-container container-fluid">
                <div class="header-wrapper">

                    <!-- Header Logo Start -->
                    <div class="header-logo">
                        <a href="{% url 'index' %}"><img src="{% static 'assets/images/logo/logo.png' %}" alt="Logo"></a>
                    </div>
                    <!-- Header Logo End -->

                    <!-- Header Menu Start -->
                    <div class="main-menu d-none d-lg-flex">
                        <ul>
                            <li><a class="active" href="{% url 'index' %}">Home</a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="{% url 'category_archive' 'player-bio' %}">Player Bio</a></li>
                            <li><a href="{% url 'category_archive' 'news' %}">News</a></li>                 
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="{% url 'uefa_match_list' %}">UEFA Match List</a></li>
                            <li class="has-children">
                                <a href="">Competitions</a>
                                <ul class="sub-menu">
                                    <li><a href="{% url 'country_match' 'England' %}">England</a></li>
                                    <li><a href="{% url 'country_match' 'Spain' %}">Spain</a></li>
                                    <li><a href="{% url 'country_match' 'France' %}">France</a></li>
                                    <li><a href="{% url 'country_match' 'Germany' %}">Germany</a></li>
                                    <li><a href="{% url 'country_match' 'Italy' %}">Italy</a></li>
                                    <li><a href="{% url 'country_match' 'Netherlands' %}">Netherlands</a></li>
                                    <li><a href="{% url 'country_match' 'Portugal' %}">Portugal</a></li>
                                    <li><a href="{% url 'country_match' 'Austria' %}">Austria</a></li>
                                    <li><a href="{% url 'country_match' 'Denmark' %}">Denmark</a></li>
                                    <li><a href="{% url 'country_match' 'Norway' %}">Norway</a></li>
                                    <li><a href="{% url 'country_match' 'Russia' %}">Russia</a></li>
                                    <li><a href="{% url 'country_match' 'Sweden' %}">Sweden</a></li>
                                    <li><a href="{% url 'country_match' 'Switzerland' %}">Switzerland</a></li>
                                    <li><a href="{% url 'country_match' 'Turkey' %}">Turkey</a></li>
                                    <li><a href="{% url 'country_match' 'Belarus' %}">Belarus</a></li>
                                    <li><a href="{% url 'country_match' 'Belgium' %}">Belgium</a></li>
                                    <li><a href="{% url 'country_match' 'Bosnia and Herzegovina' %}">Bosnia and Herzegovina</a></li>
                                    <li><a href="{% url 'country_match' 'Croatia' %}">Croatia</a></li>
                                    <li><a href="{% url 'country_match' 'Cyprus' %}">Cyprus</a></li>
                                    <li><a href="{% url 'country_match' 'Czech Republic' %}">Czech Republic</a></li>
                                    <li><a href="{% url 'country_match' 'Estonia' %}">Estonia</a></li>
                                    <li><a href="{% url 'country_match' 'Finland' %}">Finland</a></li>
                                    <li><a href="{% url 'country_match' 'Greece' %}">Greece</a></li>
                                    <li><a href="{% url 'country_match' 'Ireland' %}">Ireland</a></li>
                                    <li><a href="{% url 'country_match' 'Israel' %}">Israel</a></li>
                                    <li><a href="{% url 'country_match' 'Latvia' %}">Latvia</a></li>
                                    <li><a href="{% url 'country_match' 'Lithuania' %}">Lithuania</a></li>
                                    <li><a href="{% url 'country_match' 'Luxembourg' %}">Luxembourg</a></li>
                                    <li><a href="{% url 'country_match' 'Moldova' %}">Moldova</a></li>
                                    <li><a href="{% url 'country_match' 'Montenegro' %}">Montenegro</a></li>
                                    <li><a href="{% url 'country_match' 'Northern Ireland' %}">Northern Ireland</a></li>
                                    <li><a href="{% url 'country_match' 'Poland' %}">Poland</a></li>
                                    <li><a href="{% url 'country_match' 'Romania' %}">Romania</a></li>
                                    <li><a href="{% url 'country_match' 'Scotland' %}">Scotland</a></li>
                                    <li><a href="{% url 'country_match' 'Serbia' %}">Serbia</a></li>
                                    <li><a href="{% url 'country_match' 'Slovakia' %}">Slovakia</a></li>
                                    <li><a href="{% url 'country_match' 'Slovenia' %}">Slovenia</a></li>
                                    <li><a href="{% url 'country_match' 'Ukraine' %}">Ukraine</a></li>
                                    <li><a href="{% url 'country_match' 'Wales' %}">Wales</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'live_score' %}">Live Matches</a></li>
                        </ul>
                    </div>
                    <!-- Header Menu End -->

                    <!-- Header Social Actions Start -->
                    <div class="header-social-actions">
                        <div class="header-social d-none d-lg-block">
                            <ul>
                                <li>
                                    <a href="#/"><i class="fa fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="#/"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#/"><i class="fa fa-pinterest-p"></i></a>
                                </li>
                            </ul>
                        </div>

                        <div class="header-actions">
                            <!-- Mobile Menu Hambarger Action Button Start -->
                            <a class="header-action-btn header-action-search d-flex" href="#/">
                                <i class="fa fa-search"></i>
                            </a>
                            <!-- Mobile Menu Hambarger Action Button End -->
                            <!-- Mobile Menu Hambarger Action Button Start -->
                            <a class="header-action-btn header-action-btn-menu d-flex" href="#/">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                            <!-- Mobile Menu Hambarger Action Button End -->
                        </div>

                    </div>
                    <!-- Header Social Actions End -->

                </div>
            </div>
        </div>
    </div>
    <!-- Header Section End -->

    {% block content %}
    
    {% endblock content %}

    <!--== Start Footer Area Wrapper ==-->
    <footer class="section footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!--== Start Footer Widget Area ==-->
                    <div class="footer-widget-area">
                        <div class="row m-b-n40">
                            <div class="col-sm-6 col-md-6 col-lg-3 m-b-40" data-aos="fade-up" data-aos-duration="1100">
                                <div class="widget-item pb-sm-20">
                                    <h4 class="widget-title">WE ARE CREATIVE AGENCY</h4>
                                    <div class="about-widget">
                                        <p>Nunc ut vehicula ante. Donec cursus felis diam, at vulputate ligula sollicitudin at. Vivamus massa lorem Lorem Ipsum is simple.</p>
                                        <div class="social-icons">
                                            <a href="#/"><i class="fa fa-facebook"></i></a>
                                            <a href="#/"><i class="fa fa-twitter"></i></a>
                                            <a href="#/"><i class="fa fa-pinterest-p"></i></a>
                                            <a href="#/"><i class="fa fa-dribbble"></i></a>
                                            <a href="#/"><i class="fa fa-behance"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-3 d-flex justify-content-start justify-content-lg-center m-b-40" data-aos="fade-up" data-aos-duration="1500">
                                <div class="widget-item">
                                    <h4 class="widget-title">COMPANY</h4>
                                    <ul class="widget-list">
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="contact.html">Jobs</a></li>
                                        <li><a href="contact.html">Press</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                        <li><a href="blog-details.html">Blog</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-3 m-b-40" data-aos="fade-up" data-aos-duration="2000">
                                <div class="widget-item">
                                    <h4 class="widget-title">RECENT POST</h4>
                                    <ul class="widget-post">
                                        {% for blog in recent_posts %}
                                        <li><a href="{% url 'post_detail' blog.slug %}">{{blog.title}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-3 m-b-40" data-aos="fade-up" data-aos-duration="2500">
                                <div class="widget-item">
                                    <h4 class="widget-title">REFOLLOW US INSTAGRAM</h4>
                                    <ul class="widget-instagram">
                                        {% comment %} <li><a href="#/"><img class="fit-image" src="assets/images/instagram/2.jpg" alt="Image-HasTech"></a></li>
                                        <li><a href="#/"><img class="fit-image" src="assets/images/instagram/3.jpg" alt="Image-HasTech"></a></li>
                                        <li><a href="#/"><img class="fit-image" src="assets/images/instagram/1.jpg" alt="Image-HasTech"></a></li>
                                        <li><a href="#/"><img class="fit-image" src="assets/images/instagram/4.jpg" alt="Image-HasTech"></a></li> {% endcomment %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--== End Footer Widget Area ==-->
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="copyright-content">
                            <p class="mb-0">© 2021 <strong class="text-color-gray">Triball </strong> Made with <i class="icofont-heart-alt text-color-primary"></i> by <a href="https://hasthemes.com/">HasThemes.</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--== End Footer Area Wrapper ==-->

    <!-- Scroll Top Start -->
    <a href="#" class="scroll-top show" id="scroll-top">
        <i class="arrow-top icofont-bubble-up"></i>
        <i class="arrow-bottom icofont-bubble-up"></i>
    </a>
    <!-- Scroll Top End -->

    <!-- Mobile Menu Start -->
    <div class="mobile-menu-wrapper">
        <div class="offcanvas-overlay"></div>

        <!-- Mobile Menu Inner Start -->
        <div class="mobile-menu-inner">

            <!-- Button Close Start -->
            <div class="offcanvas-btn-close">
                <i class="icofont-close-line"></i>
            </div>
            <!-- Button Close End -->

{% include 'sports/mobile.html' %}

        </div>
        <!-- Mobile Menu Inner End -->
    </div>
    <!-- Mobile Menu End -->

    <!-- Offcanvas Search Start -->
    <div class="offcanvas-search">
        <div class="offcanvas-search-inner">

            <!-- Button Close Start -->
            <div class="offcanvas-btn-close">
                <i class="icofont-close-line"></i>
            </div>
            <!-- Button Close End -->

            <!-- Offcanvas Search Form Start -->
            <form class="offcanvas-search-form" action="{% url 'search' %}" method="get">
                <input type="text" name="q" placeholder="Search Here" class="offcanvas-search-input">
            </form>
            <!-- Offcanvas Search Form End -->

        </div>
    </div>
    <!-- Offcanvas Search End -->

    <script src="{% static 'assets/js/vendor.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins.min.js' %}"></script>


    <!--Main JS-->
    <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>
