{% load static %}
    <!-- Slider Section Start -->
    <div class="section slider-section">

        <!-- Swiper Container Start -->
        <div class="slider-container swiper-container animation-style-01">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <!-- Single Slider Start -->
                    <div class="slingle-slider overlay" data-bg-color="#000" data-bg-image="assets/images/slider/slide-1.jpg">

                        <!-- Slider Content Start -->
                        <div class="slider-content">
                            <h1 class="title">Sports Dignity</h1>
                        </div>
                        <!-- Slider Content End -->

                    </div>
                    <!-- Single Slider End -->
                </div>

                <div class="swiper-slide">
                    <!-- Single Slider Start -->
                    <div class="slingle-slider overlay" data-bg-color="#000" data-bg-image="{% static 'assets/images/slider/slide-2.jpg' %}">

                        <!-- Slider Content Start -->
                        <div class="slider-content">
                            <h2 class="title">Triball Creative Agency</h2>
                            <a href="service-details.html" class="btn btn-outline-whited btn-outline-hover-primary">Let's Start </a>
                        </div>
                        <!-- Slider Content End -->

                    </div>
                    <!-- Single Slider End -->
                </div>

            </div>
        </div>
        <!-- Swiper Container End -->

    </div>
    <!-- Slider Section End -->