            <!-- Mobile Menu Inner Wrapper Start -->
            <div class="mobile-menu-inner-wrapper">

                <!-- Mobile Menu Start -->
                <div class="mobile-navigation">
                    <nav>
                        <ul class="mobile-menu">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li class="has-children">
                                <a href="#">Service <i class="icofont-dotted-down" aria-hidden="true"></i></a>
                                <ul class="dropdown">
                                    <li><a href="service.html">Service</a></li>
                                    <li><a href="service-details.html">Service Details</a></li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">Portfolio <i class="icofont-dotted-down" aria-hidden="true"></i></a>
                                <ul class="dropdown">
                                    <li><a href="portfolio.html">Portfolio</a></li>
                                    <li><a href="portfolio-details.html">Portfolio Details</a></li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">Blog <i class="icofont-dotted-down" aria-hidden="true"></i></a>
                                <ul class="dropdown">
                                    <li><a href="blog-grid.html">Blog Grid</a></li>
                                    <li><a href="blog-details.html">Blog Details Fullwidth</a></li>
                                    <li><a href="blog-details-sidebar.html">Blog Details Sidebar</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- Mobile Menu End -->

                <!-- Contact Links/Social Links Start -->
                <div class="mt-auto bottom-0">

                    <!-- Contact Links Start -->
                    <ul class="contact-links">
                        <li><i class="icofont-phone"></i><a href="tel:+0123456789"> +012 3456 789</a></li>
                        <li><i class="icofont-envelope-open"></i><a href="mailto:info@example.com"> info@example.com</a></li>
                        <li><i class="icofont-wall-clock"></i> <span>Monday - Sunday 9.00 - 18.00</span> </li>
                    </ul>
                    <!-- Contact Links End -->

                    <div class="header-social">
                        <ul>
                            <li>
                                <a href="#/"><i class="fa fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#/"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#/"><i class="fa fa-pinterest-p"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Contact Links/Social Links End -->
            </div>
            <!-- Mobile Menu Inner Wrapper End -->